:root {
  --BGColor: #000103;
  --White: #ffffff;
  --Purple: #231ebd;
  --Orange: #d07600;
  --DarkOrange: #c16d00;
  --SidePadding: 1.5rem;

  --BiggestWidth: 1600px;
  --MediumWidth: 1425px;
  --LeastWidth: 1300px;
}

@font-face {
  font-family: JohnsonRock;
  src: url("JohnsonRock-MVYon.ttf");
}
@font-face {
  font-family: HelpMe;
  src: url("HelpMe-owODB.ttf");
}

body {
  background-color: var(--BGColor);
  color: var(--White);
}
button {
  background-color: var(--Orange);
  border: none;
  color: var(--White);
  cursor: pointer;
}
button:hover {
  background-color: var(--DarkOrange);
  color: #f6f6f6;
}
.contents-container {
  padding: 0 var(--SidePadding);
}

nav {
  border-bottom: 3px solid var(--Purple);
  display: flex;
  height: 80px;
  justify-content: center;
  margin: auto;
  width: 100%;
}
nav .contents-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--BiggestWidth);
}
nav h1 {
  font-family: JohnsonRock;
  font-size: 2.9rem;
  /* letter-spacing: 1px; */
  font-weight: 300;
}
header {
  border-bottom: 3px solid var(--Purple);
  font-family: sans-serif;
  height: 560px;
  width: 100%;
}
header .contents-container {
  /* align-items: center; */
  margin: auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 90px;
  padding-bottom: 80px;
  max-width: var(--BiggestWidth);
}
header h1 {
  font-size: 5rem;
  font-weight: 300;
  margin: 0;
}
header h1 p {
  display: inline;
  font-weight: bold;
}
header h2 {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 4rem;
}
header button {
  border: none;
  border-radius: 15px;
  font-size: 3rem;
  margin-top: 2.75rem;
  padding: 0.5rem 1.5rem;
}
.section__projects {
  border-bottom: 3px solid var(--Purple);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  justify-content: center;
  /* padding-bottom: 1.7rem; */
  width: 100%;
}
.section__projects h1 {
  font-family: HelpMe;
  font-weight: 300;
  letter-spacing: 11px;
  font-size: 3rem;
  text-align: center;
}
.project-cards {
  padding: 0 var(--SidePadding);
  display: flex;
  flex-wrap: wrap;
  gap: 2.75rem;
  justify-content: center;
  max-width: var(--BiggestWidth);
}
.project-card {
  background-color: var(--White);
  border-radius: 15px;
  color: var(--BGColor);
  height: 400px;
  outline: 6px solid var(--Purple);
  width: 480px;
}
.project-card img {
  background-color: var(--Purple);
  height: 65%;
  width: 100%;
}
.project-card__info-container {
  padding: 0.5rem;
}
.project-card__info-container a {
  font-weight: bold;
  font-family: sans-serif;
  color: grey;
}
.project-card__info-container a:hover {
  color: rgb(81, 81, 81);
}
.project-card__info-container-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.project-card__info-container-buttons p {
  margin: 0;
}
.project-card__info-container-buttons a:hover {
  color: var(--DarkOrange);
}
.section__about-me {
  border-bottom: 3px solid var(--Purple);
  display: flex;
  justify-content: center;
  padding: 4rem 0 2rem 0;
  width: 100%;
}
.section__about-me .contents-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--BiggestWidth);
}
.section__about-me h1 {
  font-size: 3rem;
  margin: 0;
}
.section__about-me img {
  /* height: 300px; */
}
.section__about-me .about-me__buttons-container {
  display: flex;
  gap: 2.9rem;
}
.section__about-me button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  color: #e7e7e7;
  font-size: 1.25rem;
  font-weight: 600;
}
.section__about-me button::after {
  content: "";
  display: block;
  background-color: var(--Orange);
  margin: auto;
  margin-top: 3px;
  width: 80%;
  height: 6px;
}
.section__about-me p {
  font-size: 1.5rem;
  max-height: 330px;
  overflow-y: scroll;
  max-width: 60ch;
}
