:root {
  --BGColor: #040112;
  --LightBlack: #252525;
  --White: #ffffff;
  --Purple: #443569;
  --Orange: #ef7537;
  --DarkOrange: #c16d00;
  --SidePadding: 1.5rem;

  --BiggestWidth: 1200px;
  /* --MediumWidth: 1425px; */
  /* --LeastWidth: 1300px; */

  /* Uses golden ratio for type scaling */
  --FontSize1: 4.236rem;
  --FontSize2: 2.618rem;
  --FontSize3: 1.618rem;
  --FontSize4: 1rem;
}

@font-face {
  font-family: JohnsonRock;
  src: url("JohnsonRock-MVYon.ttf");
}
@font-face {
  font-family: HelpMe;
  src: url("HelpMe-owODB.ttf");
}

body {
  background-color: var(--BGColor);
  color: var(--White);
  padding-top: 2rem;
}
button {
  background-color: var(--Orange);
  border: none;
  color: var(--White);
  cursor: pointer;
}
button:hover {
  background-color: var(--DarkOrange);
  color: #f6f6f6;
}
.contents-container {
  padding: 0 var(--SidePadding);
}

nav {
  background-color: var(--BGColor);
  /* border-bottom: 3px solid #342366; */
  display: flex;
  height: 104px;
  justify-content: center;
  margin: auto;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 15;
}
nav .contents-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--BiggestWidth);
}
nav h1 {
  font-family: JohnsonRock;
  font-size: var(--FontSize2);
  /* letter-spacing: 1px; */
  font-weight: 300;
}
nav ul {
  display: flex;
  gap: 3.05rem;
}
nav a {
  color: #fff;
  display: flex;
  font-size: var(--FontSize3);
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
nav a:hover {
  color: var(--Orange);
}
nav p {
  display: inline;
  font-family: "Montserrat";
  font-size: var(--FontSize4);
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-left: 0.25rem;
}
@media (max-width: 750px) {
  nav {
    height: 40px;
  }
  nav h1 {
    font-size: var(--FontSize3);
  }
  nav a {
    font-size: var(--FontSize4);
  }
}
header {
  /* border-bottom: 3px solid var(--Purple); */
  font-family: "Montserrat";
  height: 560px;
  width: 100%;
}
header .contents-container {
  /* align-items: center; */
  margin: auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 45px;
  padding-bottom: 80px;
  max-width: var(--BiggestWidth);
}
header h1 {
  /* font-family: "Krub"; */
  font-size: 144px;
  color: #4e26ff;
  line-height: 220px;
  font-weight: 400;
  margin: 0;
  position: relative;
  display: inline;
  z-index: 1;
}
header h1::after {
  content: "Another boring portfolio.";
  position: absolute;
  display: inline-block;
  width: 1200px;
  height: 100px;
  top: -10px;
  left: 20px;
  color: rgb(255, 255, 255);
  z-index: 1;
}
header h1 p {
  display: inline;
  font-weight: 700;
}
header h2 {
  /* font-family: "Krub"; */
  font-size: var(--FontSize3);
  font-weight: 400;
  line-height: 24px;
  color: #b0b0b0;
  display: inline;
}
header button {
  background-color: var(--BGColor);
  border: 2px solid #ffffff;
  border-radius: 7px;
  color: #fff;
  display: inline;
  font-size: var(--FontSize2);
  font-weight: 600;
  margin-top: 0.8rem;
  margin-left: 2.85rem;
  padding: 0.5rem 1rem;
  font-family: "Roboto";
  transition: 0.2s;
  z-index: 200000;
}
header button:hover {
  background-color: #fff;
  color: var(--BGColor);
  transform: scale(1.02);
  transition: 0.2s;
}
@media (max-width: 750px) {
  header {
    height: 376px;
  }
  header h1 {
    font-size: var(--FontSize3);
    line-height: 40px;
  }
  header h2 {
    font-size: var(--FontSize4);
    line-height: 16px;
  }
  header button {
    border-radius: 4px;
    font-size: var(--FontSize4);
    line-height: 24px;
    margin-top: 2.75rem;
    padding: 0.25rem 0.75rem;
  }
}
.section__projects {
  border-bottom: 3px solid var(--Purple);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  justify-content: center;
  min-height: 899px;
  padding: 3.3125rem var(--SidePadding);
}
.section__projects h1 {
  font-family: "Montserrat";
  font-weight: 800;
  letter-spacing: 20px;
  font-size: var(--FontSize2);
  text-align: center;
}
.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: space-between;
  margin-top: 3.65rem;
}
.project-card {
  background-color: #fcfcfc;
  border-radius: 4px;
  color: var(--BGColor);
  height: 584px;
  width: 320px;
  font-family: "Montserrat";
}
.project-card img {
  background-color: var(--Purple);
  height: 348px;
  width: 100%;
}
.project-card__info-container {
  padding: 1.75rem 1.25rem;
}
.project-card__info-container a {
  font-weight: 600;
  font-size: var(--FontSize3);
  line-height: 24px;
  text-decoration: none;
  color: var(--BGColor);
}
.project-card__info-container a:hover {
  color: var(--DarkOrange);
  text-decoration: underline;
}
.project-card__description-container {
  margin-top: 1.375rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.project-card__description {
  color: var(--LightBlack);
  font-size: var(--FontSize4);
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}
.project-card__tech-stack {
  margin: 0;
  color: #000;
  font-weight: 500;
  font-size: var(--FontSize4);
  font-style: italic;
  line-height: 16px;
}
.project-card__info-container-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--BGColor);
  margin-top: 3.45rem;
}
.project-card__info-container-buttons a {
  font-size: var(--FontSize4);
  font-weight: 700;
}
.project-card__info-container-buttons p {
  margin: 0;
}
.project-card__info-container-buttons a:hover {
  color: var(--DarkOrange);
}
@media (max-width: 750px) {
  .section__projects h1 {
    font-size: var(--FontSize3);
    line-height: 24px;
    letter-spacing: 4.5px;
  }
  .project-cards {
    gap: 80px;
    justify-content: center;
    margin-top: 3.65rem;
  }
  .project-card {
    border-radius: 4px;
    height: 324px;
    width: 320px;
    font-family: "Krub";
  }
  .project-card img {
    height: 198px;
    width: 100%;
  }
  .project-card__info-container {
    padding: 0.85rem 0.75rem;
    position: relative;
  }
  .project-card__info-container a {
    font-weight: 600;
    font-size: var(--FontSize4);
    line-height: 16px;
  }
  .project-card__info-container-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--BGColor);
    margin-top: 3.45rem;
    position: absolute;
    top: -50.25px;
    left: 149px;
  }
  .project-card__info-container-buttons a {
    font-size: var(--FontSize4);
    font-weight: 700;
  }
  .project-card__info-container-buttons p {
    margin: 0;
  }
  .project-card__info-container-buttons a:hover {
    color: var(--DarkOrange);
  }
}
.section__about-me {
  border-bottom: 3px solid var(--Purple);
  display: flex;
  justify-content: center;
  padding: 4.3125rem 0;
  width: 100%;
}
.section__about-me .contents-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--BiggestWidth);
}
.section__about-me h1 {
  font-size: var(--FontSize1);
  font-family: "Krub";
  line-height: 64px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5.25rem;
  padding: 0;
}
.section__about-me h1 p {
  font-weight: 500;
  display: inline;
}
.about-me__img-gallery {
  position: relative;
}
.about-me__img-gallery p {
  overflow: visible !important;
  width: 304px !important;
  height: 304px !important;
}
#about-me__img-1 {
  background-color: red;
  position: relative;
  z-index: 5;
}
#about-me__img-2 {
  background-color: blue;
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: 6;
}
#about-me__img-3 {
  background-color: green;
  position: absolute;
  top: 46%;
  left: 0%;
  z-index: 7;
}
.section__about-me img {
  /* height: 300px; */
}
.section__about-me .about-me__buttons-container {
  display: flex;
  gap: 2.9rem;
}
.section__about-me button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  color: #cecece;
  font-size: var(--FontSize3);
  font-weight: 500;
  font-family: "Krub";
}
.section__about-me button::after {
  content: "";
  display: block;
  background-color: var(--Orange);
  margin: auto;
  margin-top: 8px;
  width: 112px;
  height: 4px;
}
#about-me__paragraph-container {
  font-size: var(--FontSize4);
  font-family: "Krub";
  line-height: 24px;
  height: 400px;
  overflow-y: scroll;
  width: 550px;
  margin-top: 1.6rem;
  padding: 1rem;
  outline: 1px solid #575757;
  text-align: left;
}
@media (max-width: 750px) {
  .section__about-me .contents-container {
    display: block;
  }
  .section__about-me h1 {
    font-size: var(--FontSize2);
    line-height: 40px;
    margin-bottom: 5.25rem;
    text-align: center;
  }
  .about-me__img-gallery {
    display: none;
  }
  .section__about-me .about-me__buttons-container {
    justify-content: center;
    gap: 2.9rem;
  }
  .section__about-me button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    color: #cecece;
    font-size: var(--FontSize4);
    font-weight: 500;
    font-family: "Krub";
  }
  .section__about-me button::after {
    content: "";
    display: block;
    background-color: var(--Orange);
    margin: auto;
    margin-top: 4px;
    width: 64px;
    height: 2px;
  }
  #about-me__paragraph-container {
    font-size: var(--FontSize4);
    line-height: 24px;
    height: auto;
    overflow-y: visible;
    width: 100%;
    margin-top: 1.35rem;
    padding: 0;
    outline: none;
  }
}
.section__testimonials {
  padding: 3.75rem 3.5rem 8.86rem 3.5rem;
  font-family: "Krub";
  border-bottom: 3px solid var(--Purple);
}
.section__testimonials h1 {
  font-weight: 400;
  font-size: var(--FontSize2);
  line-height: 40px;
  text-align: center;
  margin: auto;
}
.section__testimonials h1 p {
  font-weight: 600;
  display: inline;
}
.testimonial-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.5625rem;
  max-width: var(--BiggestWidth);
  margin: auto;
}
.testimonial-card {
  background-color: #000;
  border-radius: 8px;
  width: 488px;
  height: 200px;
  padding: 1.125rem;
  margin-top: 3.125rem;
}
.testimonial-card__user-img {
  width: 64px;
  height: 64px;
  background-color: #d9d9d9;
  border-radius: 4px;
  display: inline-block;
}
.testimonial-card__name {
  font-size: var(--FontSize3);
  font-weight: 600;
  line-height: 24px;
  display: inline;
}
.testimonial-card__review-text {
  font-size: var(--FontSize4);
  font-weight: 600;
  line-height: 16px;
  color: #cecece;
}
.testimonial-card__review-date {
  font-size: var(--FontSize4);
  font-weight: 600;
  line-height: 16px;
  color: #b0b0b0;
}
@media (max-width: 750px) {
  .section__testimonials h1 {
    font-size: var(--FontSize3);
    line-height: 24px;
  }
  .testimonial-gallery {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2.5625rem;
    max-width: 100%;
    margin: auto;
  }
  .testimonial-card {
    background-color: #000;
    border-radius: 8px;
    width: auto;
    height: 136px;
    padding: 1.125rem;
    margin-top: 3.125rem;
  }
  .testimonial-card__user-img {
    width: 32px;
    height: 32px;
    background-color: #d9d9d9;
    border-radius: 2px;
    display: inline-block;
  }
  .testimonial-card__name {
    font-size: var(--FontSize4);
    font-weight: 500;
    line-height: 16px;
  }
  .testimonial-card__review-text {
    font-size: var(--FontSize4);
    font-weight: 400;
    line-height: 20px;
  }
  .testimonial-card__review-date {
    font-weight: 300;
    margin-top: 2.1rem;
  }
}
.section__technologies {
  padding: 6rem 0 8.86rem 0;
  font-family: "Krub";
  border-bottom: 3px solid var(--Purple);
}
.section__technologies h1 {
  font-weight: 400;
  font-size: var(--FontSize2);
  line-height: 40px;
  text-align: center;
  margin: auto;
}
.section__technologies h1 p {
  font-weight: 600;
  font-size: var(--FontSize2);
  line-height: 40px;
  display: inline;
}
.technologies-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 var(--SidePadding);
  gap: 4.5rem;
  margin: auto;
  margin-top: 6.8rem;
  max-width: var(--BiggestWidth);
}
.technology-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technology-item p {
  font-size: var(--FontSize3);
  font-weight: 400;
  font-family: "Krub";
}
.technology-item__img-container {
  width: 104px;
  height: 118px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technology-item img {
  width: 104px;
}
@media (max-width: 750px) {
  .section__technologies h1 {
    font-size: var(--FontSize3);
    line-height: 24px;
  }
  .section__technologies h1 p {
    font-size: var(--FontSize3);
    line-height: 24px;
  }
  .technologies-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.5rem;
    margin-top: 3.38rem;
  }
  .technology-item p {
    font-size: var(--FontSize4);
  }
  .technology-item__img-container {
    width: 64px;
    height: 73px;
  }
  .technology-item img {
    width: 64px;
  }
}
.section__contact {
  font-family: "Krub";
  max-width: var(--BiggestWidth);
  padding: 8.75rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section__contact h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: var(--FontSize1);
  line-height: 64px;
}
.section__contact form {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.contact-form__input-block {
}
.contact-form__input-block p {
  cursor: pointer;
  color: #dedede;
  font-size: var(--FontSize3);
  font-weight: 200;
  line-height: 24px;
  margin: 0;
  margin-bottom: 1.4rem;
}
.contact-form__input-block input {
  background-color: #f1f1f1;
  border: none;
  outline: none;
  font-size: var(--FontSize4);
  font-weight: 400;
  line-height: 16px;
  color: #000;
  height: 32px;
  padding: 0 0.75rem;
  width: 284px;
}
#contact-form__message-input-field {
  border-radius: 8px;
  border: none;
  background-color: #252525;
  outline: 1px solid #9c9c9c;
  color: #fff;
  font-size: var(--FontSize4);
  line-height: 20px;
  font-weight: 400;
  height: 160px;
  padding: 0.75rem 0.75rem;
  width: 360px;
  resize: none;
}
input:focus,
#contact-form__message-input-field:focus {
  outline: 2px solid #54428b;
}
.section__contact button {
  border-radius: 8px;
  font-size: 2.25rem;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  padding: 0.75rem 0.5rem;
  height: 64px;
  width: 384px;
  white-space: nowrap;
}
@media (max-width: 750px) {
  .section__contact {
    font-family: "Krub";
    max-width: var(--BiggestWidth);
    padding: 4.5rem 2rem;
    display: block;
  }
  .section__contact h1 {
    font-weight: 400;
    font-size: var(--FontSize2);
    line-height: 40px;
    text-align: center;
  }
  .section__contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
  }
  .contact-form__input-block {
  }
  .contact-form__input-block p {
    cursor: pointer;
    color: #dedede;
    font-size: var(--FontSize3);
    font-weight: 200;
    line-height: 24px;
    margin: 0;
    margin-bottom: 1.4rem;
  }
  .contact-form__input-block input {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    font-size: var(--FontSize4);
    font-weight: 400;
    line-height: 16px;
    color: #000;
    height: 32px;
    padding: 0 0.75rem;
    width: 284px;
  }
  #contact-form__message-input-field {
    border-radius: 8px;
    border: none;
    background-color: #252525;
    outline: 1px solid #9c9c9c;
    color: #fff;
    font-size: var(--FontSize4);
    line-height: 20px;
    font-weight: 400;
    height: 160px;
    padding: 0.75rem 0.75rem;
    width: 360px;
    resize: none;
  }
  input:focus,
  #contact-form__message-input-field:focus {
    outline: 2px solid #54428b;
  }
  .section__contact button {
    border-radius: 8px;
    font-size: 2.25rem;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    padding: 0.75rem 0.5rem;
    height: 64px;
    width: 384px;
    white-space: nowrap;
  }
}
